{% extends 'base.html' %}
{% load static %}
{% block hero %}
<section id="hero-signup">
  <div class="container-fluid px-0">
    <img src="{% static 'images/pexels-odin-reyna-383507-8673525.jpg' %}" class="hero-signup-img" alt="A rave in an industrial warehouse with a balcony">
  </div>
</section>
{% endblock %}

{% block content %}
<div class="login-container">
  <h2>Login to Your Account</h2>
  
  {% if form.errors %}
    <p class="error">Invalid username or password. Please try again.</p>
  {% endif %}
  
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    <button type="submit">Login</button>
  </form>

  <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</div>
{% endblock %}
