{% extends 'base.html' %}
{% load static %}
{% block hero %}
<section id="hero-signup">
  <div class="container-fluid px-0">
    <img src="{% static 'images/pexels-odin-reyna-383507-8673525.jpg' %}" class="hero-signup-img" alt="A rave in an industrial warehouse with a balcony">
  </div>
</section>
{% endblock %}

{% block content %}
<div class="upload-audio">
  <div class="form-card">
    <h2 class="form-card-title">Upload Audio</h2>
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button type="submit" class="btn btn-dark w-100">Upload</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


